<h2>Willkommen auf unserer Spendenseite.</h2>
<br>
Wir als Spendenverein Rodgau e.V. möchten euch mit dieser Seite
eine einfache Möglichkeit bieten, Kleiderspenden anzumelden.
<br>
<br>
<b>So funktioniert es:</b>
<br>
<br>
<b>1.</b> Registrieren Sie Ihre Kleiderspende auf der Registrierungsseite.
<br>
<br>
<b>Wenn Sie "Abholung" auswählen:</b>
<br>
<b>2.</b> Wir melden uns bei Ihnen und vereinbaren einen Termin zur Abholung.
<br>
<b>3.</b> Wir holen Ihre Kleiderspende ab und bringen sie zu den Bedürftigen.
<br>
<br>
<b>Wenn Sie "Übergabe an der Geschäftsstelle" auswählen:</b>
<br>
<b>2.</b> Übergeben Sie ihre Spende. Wir bringen sie zu den Bedürftigen.
<br>
<br>
<b>Vielen Dank für Ihre Unterstützung!</b>
