<h2>Impressum</h2>
<b>Adresse</b>
<br>
Spendenverein Rodgau e.V.
<br>
Musterstraße 1
<br>
63110 Rodgau
<br>
<br>
<b>E-Mail-Adresse</b>
<br>
spendenverein.rodgau&#64;gmail.com
<br>
<br>
<b>Telefonnummer</b>
<br>
06106/123456
<br>
<br>
<br>
<h2>AGB & Datenschutz</h2>
Ihre persönlichen Daten werden nicht an Dritte weitergegeben. Sie werden nur für die Bearbeitung Ihrer Spende verwendet.
Die Daten werden innerhalb der EU gespeichert und verarbeitet.
<br>
Nach der Bearbeitung Ihrer Spende werden Ihre Daten gelöscht.
